body {
  background: #2e5984;
}
.posts {
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  display: grid;
}
.post {
  background: #fff;
  padding: 10px;
}

.post h3 {
  text-transform: capitalize;
  color: #29696b;
}
