.main-image {
    height: auto;
    width: 400px;
    cursor: pointer;
}

.main-image img {
    max-width: 100%;
}

.image-modal {
    display: none;
}

.image-modal-open {
    overflow: hidden;
}
.image-in-modal {
    cursor: pointer;
}

.image-modal.active-image-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}
.image-modal-inner {
    background: rgba(0, 0, 0, 0.8);
    height: 500px;
    width: 600px;
    padding: 10px;
}

.image-modal-inner-content {
    height: 100%;
    max-height: 800px;
}

.image-modal-close {
    padding: 0 15px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}
.image-modal-close img {
    width: 20px;
}
